parameters:
    bootstrapFiles:
        - silverstripe-autoloader.php
services:
    - 
        class: Cambis\Silverstan\Autoloader\Autoloader
    simpleStubFileCacheStorage:
        class: Cambis\Silverstan\Cache\CacheStorage\SimpleStubFileCacheStorage
        arguments:
            directory: %tmpDir%/cache/PHPStan
    -
        class: Cambis\Silverstan\ConfigurationResolver\Contract\MiddlewareRegistryProviderInterface
        factory: Cambis\Silverstan\ConfigurationResolver\LazyMiddlewareRegistryProvider
    configCollectionFactory:
        class: Cambis\Silverstan\ConfigurationResolver\ExperimentalLazyConfigCollectionFactory
    -
        class: Cambis\Silverstan\ConfigurationResolver\Extension\PhpDoc\ConfigCacheExtension
        arguments:
            cache: @configCache
        tags: [phpstan.stubFilesExtension]
    -
        class: Cambis\Silverstan\ConfigurationResolver\Middleware\ExtensionMiddleware
        tags: [silverstan.configurationResolver.middleware]
    -
        class: Cambis\Silverstan\ConfigurationResolver\Middleware\InheritanceMiddleware
        tags: [silverstan.configurationResolver.middleware]
    -
        class: Cambis\Silverstan\ClassManifest\ClassManifest
        arguments:
            excludedClasses:
                - 'SilverStripe\Core\Manifest\ClassManifestErrorHandler'
            includeTestOnly: %silverstan.includeTestOnly%
            parser: @currentPhpVersionPhpParser
    -
        class: Cambis\Silverstan\FileCleaner\FileCleaner
    -
        class: Cambis\Silverstan\FileFinder\FileFinder
        arguments:
            includeTestOnly: %silverstan.includeTestOnly%
    -
        class: Cambis\Silverstan\NodeVisitor\TestOnlyFinderVisitor
    -
        class: Composer\ClassMapGenerator\ClassMapGenerator
        arguments:
            extensions: ['php']
    configCache:
        autowired: false
        class: PHPStan\Cache\Cache
        arguments:
            storage: @simpleStubFileCacheStorage
