includes:
    - rules.neon
parameters:
    bootstrapFiles:
        - bootstrap.php
    universalObjectCratesClasses:
        - SilverStripe\Core\Config\Config_ForClass
        - SilverStripe\Forms\GridField\GridState_Data
        - Symbiote\QueuedJobs\Services\AbstractQueuedJob
services:
    configCollectionFactory:
        class: Cambis\Silverstan\ConfigurationResolver\ConfigCollectionFactory\LazyConfigCollectionFactory
    -
        class: Cambis\Silverstan\ConfigurationResolver\ConfigurationResolver
    -
        class: Cambis\Silverstan\ConfigurationResolver\Contract\ConfigCollectionFactoryInterface
        factory: @configCollectionFactory
    -
        class: Cambis\Silverstan\Extension\ClassPropertiesNode\ConfigurationPropertiesExtension
        tags: [phpstan.properties.readWriteExtension]
    -
        class: Cambis\Silverstan\Extension\PhpDoc\DataObjectTypeNodeResolverExtension
        tags: [phpstan.phpDoc.typeNodeResolverExtension]
    -
        class: Cambis\Silverstan\Extension\PhpDoc\ExtensionOwnerTypeNodeResolverExtension
        tags: [phpstan.phpDoc.typeNodeResolverExtension]
    -
        class: Cambis\Silverstan\Extension\PhpDoc\SilverstripeStubFilesExtension
        tags: [phpstan.stubFilesExtension]
    -
        class: Cambis\Silverstan\Extension\Reflection\AnnotationClassReflectionExtension
    -
        class: Cambis\Silverstan\Extension\Reflection\ExtensibleClassReflectionExtension
        tags: 
            - phpstan.broker.methodsClassReflectionExtension
            - phpstan.broker.propertiesClassReflectionExtension
    -
        class: Cambis\Silverstan\Extension\Reflection\ViewableDataClassReflectionExtension
        tags: [phpstan.broker.propertiesClassReflectionExtension]
    -
        class: Cambis\Silverstan\Extension\Type\ConfigCollectionInterfaceGetReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: Cambis\Silverstan\Extension\Type\ConfigForClassGetReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: Cambis\Silverstan\Extension\Type\DataObjectDbObjectReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: Cambis\Silverstan\Extension\Type\DataObjectDeleteTypeSpecifyingExtension
        tags: [phpstan.typeSpecifier.methodTypeSpecifyingExtension]
    -
        class: Cambis\Silverstan\Extension\Type\DataObjectExistsTypeSpecifyingExtension
        tags: [phpstan.typeSpecifier.methodTypeSpecifyingExtension]
    -
        class: Cambis\Silverstan\Extension\Type\DataObjectWriteTypeSpecifyingExtension
        tags: [phpstan.typeSpecifier.methodTypeSpecifyingExtension]
    -
        class: Cambis\Silverstan\Extension\Type\ExtensibleHasExtensionTypeSpecifyingExtension
        tags: [phpstan.typeSpecifier.methodTypeSpecifyingExtension]
        arguments:
            className: 'SilverStripe\View\ViewableData'
    -
        class: Cambis\Silverstan\Extension\Type\ExtensibleHasMethodTypeSpecifyingExtension
        tags: [phpstan.typeSpecifier.methodTypeSpecifyingExtension]
        arguments:
            className: 'SilverStripe\View\ViewableData'
    -
        class: Cambis\Silverstan\Extension\Type\InjectorGetReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: Cambis\Silverstan\Extension\Type\SingletonReturnTypeExtension
        tags: [phpstan.broker.dynamicFunctionReturnTypeExtension]
    -
        class: Cambis\Silverstan\Extension\Type\ViewableDataHasFieldTypeSpecifyingExtension
        tags: [phpstan.typeSpecifier.methodTypeSpecifyingExtension]
    -
        class: Cambis\Silverstan\NodeVisitor\PropertyFetchAssignedToVisitor
        tags: [phpstan.parser.richParserNodeVisitor]
    -
        class: Cambis\Silverstan\ReflectionAnalyser\ClassReflectionAnalyser
    -
        class: Cambis\Silverstan\ReflectionAnalyser\PropertyReflectionAnalyser
    -
        class: Cambis\Silverstan\ReflectionResolver\ReflectionResolver
    -
        class: Cambis\Silverstan\ReflectionResolver\Contract\ReflectionResolverRegistryProviderInterface
        factory: Cambis\Silverstan\ReflectionResolver\ReflectionResolverRegistryProvider\LazyReflectionResolverRegistryProvider
    -
        class: Cambis\Silverstan\ReflectionResolver\ReflectionResolver\DependencyInjectionPropertyReflectionResolver
        tags: [silverstan.reflectionResolver.propertyReflectionResolver]
    -
        class: Cambis\Silverstan\ReflectionResolver\ReflectionResolver\DisplayLogicCriteriaComparisonsMethodReflectionResolver
        tags: [silverstan.reflectionResolver.methodReflectionResolver]
    -
        class: Cambis\Silverstan\ReflectionResolver\ReflectionResolver\ExtensionMethodReflectionResolver
        tags: [silverstan.reflectionResolver.methodReflectionResolver]
    -
        class: Cambis\Silverstan\ReflectionResolver\ReflectionResolver\ResponsiveImageSetsMethodReflectionResolver
        tags: [silverstan.reflectionResolver.methodReflectionResolver]
    -
        class: Cambis\Silverstan\ReflectionResolver\ReflectionResolver\SimpleRelationMethodReflectionResolver
        tags: [silverstan.reflectionResolver.methodReflectionResolver]
        arguments:
            configurationPropertyName: 'belongs_many_many'
    -
        class: Cambis\Silverstan\ReflectionResolver\ReflectionResolver\SimpleRelationMethodReflectionResolver
        tags: [silverstan.reflectionResolver.methodReflectionResolver]
        arguments:
            configurationPropertyName: 'belongs_to'
    -
        class: Cambis\Silverstan\ReflectionResolver\ReflectionResolver\SimpleRelationMethodReflectionResolver
        tags: [silverstan.reflectionResolver.methodReflectionResolver]
        arguments:
            configurationPropertyName: 'has_one'
    -
        class: Cambis\Silverstan\ReflectionResolver\ReflectionResolver\SimpleRelationMethodReflectionResolver
        tags: [silverstan.reflectionResolver.methodReflectionResolver]
        arguments:
            configurationPropertyName: 'has_many'
    -
        class: Cambis\Silverstan\ReflectionResolver\ReflectionResolver\SimpleRelationMethodReflectionResolver
        tags: [silverstan.reflectionResolver.methodReflectionResolver]
        arguments:
            configurationPropertyName: 'many_many'
    -
        class: Cambis\Silverstan\ReflectionResolver\ReflectionResolver\SimpleRelationPropertyReflectionResolver
        tags: [silverstan.reflectionResolver.propertyReflectionResolver]
        arguments:
            configurationPropertyName: 'belongs_to'
    -
        class: Cambis\Silverstan\ReflectionResolver\ReflectionResolver\SimpleRelationPropertyReflectionResolver
        tags: [silverstan.reflectionResolver.propertyReflectionResolver]
        arguments:
            configurationPropertyName: 'db'
    -
        class: Cambis\Silverstan\ReflectionResolver\ReflectionResolver\SimpleRelationPropertyReflectionResolver
        tags: [silverstan.reflectionResolver.propertyReflectionResolver]
        arguments:
            configurationPropertyName: 'extensions'
    -
        class: Cambis\Silverstan\ReflectionResolver\ReflectionResolver\SimpleRelationPropertyReflectionResolver
        tags: [silverstan.reflectionResolver.propertyReflectionResolver]
        arguments:
            configurationPropertyName: 'has_one'
    -
        class: Cambis\Silverstan\TypeFactory\TypeFactory
    -
        class: Cambis\Silverstan\TypeResolver\TypeResolver
    -
        class: Cambis\Silverstan\TypeResolver\Contract\TypeResolverRegistryProviderInterface
        factory: Cambis\Silverstan\TypeResolver\TypeResolverRegistryProvider\LazyTypeResolverRegistryProvider
    -
        class: Cambis\Silverstan\TypeResolver\TypeResolver\DBPropertyTypeResolver
        tags: [silverstan.typeResolver.propertyTypeResolver]
    -
        class: Cambis\Silverstan\TypeResolver\TypeResolver\DependencyInjectionPropertyTypeResolver
        tags: [silverstan.typeResolver.propertyTypeResolver]
    -
        class: Cambis\Silverstan\TypeResolver\TypeResolver\ExtensionMethodTypeResolver
        tags: [silverstan.typeResolver.methodTypeResolver]
    -
        class: Cambis\Silverstan\TypeResolver\TypeResolver\ExtensionPropertyTypeResolver
        tags: [silverstan.typeResolver.propertyTypeResolver]
    -
        class: Cambis\Silverstan\TypeResolver\TypeResolver\ManyRelationMethodTypeResolver
        tags: [silverstan.typeResolver.methodTypeResolver]
        arguments:
            configurationPropertyName: 'belongs_many_many'
            listName: 'SilverStripe\ORM\ManyManyList'
    -
        class: Cambis\Silverstan\TypeResolver\TypeResolver\ManyRelationMethodTypeResolver
        tags: [silverstan.typeResolver.methodTypeResolver]
        arguments:
            configurationPropertyName: 'has_many'
            listName: 'SilverStripe\ORM\HasManyList'
    -
        class: Cambis\Silverstan\TypeResolver\TypeResolver\ManyRelationMethodTypeResolver
        tags: [silverstan.typeResolver.methodTypeResolver]
        arguments:
            configurationPropertyName: 'many_many'
            listName: 'SilverStripe\ORM\ManyManyList'
    -
        class: Cambis\Silverstan\TypeResolver\TypeResolver\SimpleRelationMethodTypeResolver
        tags: [silverstan.typeResolver.methodTypeResolver]
        arguments:
            configurationPropertyName: 'belongs_to'
    -
        class: Cambis\Silverstan\TypeResolver\TypeResolver\SimpleRelationMethodTypeResolver
        tags: [silverstan.typeResolver.methodTypeResolver]
        arguments:
            configurationPropertyName: 'has_one'
    -
        class: Cambis\Silverstan\TypeResolver\TypeResolver\SimpleRelationPropertyTypeResolver
        tags: [silverstan.typeResolver.propertyTypeResolver]
        arguments:
            configurationPropertyName: 'belongs_to'
    -
        class: Cambis\Silverstan\TypeResolver\TypeResolver\SimpleRelationPropertyTypeResolver
        tags: [silverstan.typeResolver.propertyTypeResolver]
        arguments:
            configurationPropertyName: 'has_one'
    - 
        class: PhpParser\NodeFinder
