includes:
    - rules.neon
parameters:
    stubFiles:
        - stubs/Psr/Container/ContainerExceptionInterface.stub
        - stubs/Psr/Container/ContainerInterface.stub
        - stubs/Psr/Container/NotFoundExceptionInterface.stub
        - stubs/SilverStripe/functions.stub
        - stubs/SilverStripe/Core/Injector/Injector.stub
        - stubs/SilverStripe/Core/Extension.stub
        - stubs/SilverStripe/ORM/DataExtension.stub
    ignoreErrors:
        -
            messages:
                - '#Unknown PHPDoc tag: @phpstan-silverstripe-extend#'
                - '#Unknown PHPDoc tag: @psalm-silverstripe-extend#'
            reportUnmatched: false
services:
    -
        class: Cambis\Silverstan\Collector\Expr\MagicDataObjectCallCollector
        tags: [phpstan.collector]
    -
        class: Cambis\Silverstan\Extension\ClassPropertiesNode\ConfigurationPropertiesExtension
        tags: [phpstan.properties.readWriteExtension]
    -
        class: Cambis\Silverstan\Extension\PhpDoc\ExtensionOwnerTypeNodeResolverExtension
        tags: [phpstan.phpDoc.typeNodeResolverExtension]
    -
        class: Cambis\Silverstan\Extension\Type\ConfigCollectionInterfaceGetReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: Cambis\Silverstan\Extension\Type\ConfigForClassGetReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -   
        class: PhpParser\NodeFinder
    -
        class: Cambis\Silverstan\NodeAnalyser\CallLikeAnalyser
    -
        class: Cambis\Silverstan\NodeAnalyser\ClassAnalyser
    -
        class: Cambis\Silverstan\NodeAnalyser\PropertyAnalyser
    -
        class: Cambis\Silverstan\Reflection\ReflectionResolver
    -
        class: Cambis\Silverstan\TypeComparator\CallLikeTypeComparator
    -
        class: Cambis\Silverstan\TypeResolver\CallLikeTypeResolver
    -
        class: Cambis\Silverstan\TypeResolver\ConfigurationPropertyTypeResolver
