parameters:
	ignoreErrors:
		-
			message: "#^Calling PHPStan\\\\Type\\\\ParserNodeTypeToPHPStanType\\:\\:resolve\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 1
			path: src/Rule/ClassPropertyNode/DisallowOverridingOfConfigurablePropertyTypeRule.php

		-
			message: "#^Calling PHPStan\\\\Type\\\\TypehintHelper\\:\\:decideType\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
			count: 2
			path: src/Rule/ClassPropertyNode/DisallowOverridingOfConfigurablePropertyTypeRule.php
