parameters:
    silverstanRules:
        forbidStaticPropertyFetchOnConfigurableProperty:
            enabled: true
        forbidSuperglobals:
            enabled: true
            forbiddenSuperglobals:
                - _GET
                - _POST
                - _FILES
                - _COOKIE
                - _SESSION
                - _REQUEST
                - _ENV
                - GLOBALS

parametersSchema:
    silverstanRules: structure([
        forbidStaticPropertyFetchOnConfigurableProperty: structure([
            enabled: bool()
        ])
        forbidSuperglobals: structure([
            enabled: bool()
            forbiddenSuperglobals: arrayOf(string())
        ])
    ])

conditionalTags:
    Cambis\Silverstan\Rule\StaticPropertyFetch\ForbidStaticPropertyFetchOnConfigurablePropertyRule:
        phpstan.rules.rule: %silverstanRules.forbidStaticPropertyFetchOnConfigurableProperty.enabled%
    Cambis\Silverstan\Rule\Variable\ForbidSuperglobalsRule:
        phpstan.rules.rule: %silverstanRules.forbidSuperglobals.enabled%

services:
    -
        class: Cambis\Silverstan\Rule\StaticPropertyFetch\ForbidStaticPropertyFetchOnConfigurablePropertyRule
        tags: [phpstan.rules.rule]
    -
        class: Cambis\Silverstan\Rule\Variable\ForbidSuperglobalsRule
        tags: [phpstan.rules.rule]
