includes:
    - vendor/cambis/silverstan/extension.neon
    - vendor/cambis/silverstan/bleedingEdge.neon
parameters:
    level: max
    paths:
        - app/src
    ignoreErrors:
        -
            identifier: missingType.generics
