parameters:
    ignoreErrors:
    -
      message: "#^Method Page\\:\\:getContentBlocks\\(\\) has invalid return type SilverStripe\\\\ORM\\\\ArrayList\\.$#"
      count: 1
      path: app/src/Page.php
      reportUnmatched: false

    -
      message: "#^Method Page\\:\\:getContentBlocks\\(\\) should return SilverStripe\\\\ORM\\\\ArrayList but returns SilverStripe\\\\Model\\\\List\\\\ArrayList\\<App\\\\Model\\\\Block\\>\\.$#"
      count: 1
      path: app/src/Page.php
      reportUnmatched: false
